# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & secrets
.env
.env.*
!env.example

# Puppeteer artifacts
screens/
logs/
cookies.json
cookies_instagram.json

# OS / IDE junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs (якщо будуть)
dist/
build/
